@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.box {
  overflow: hidden;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &::before,
    &::after {
      @include cover-background;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      width: 100%;
      border-radius: var(--radius-main);
    }

    &::before {
      left: -28px;
    }

    &::after {
      right: -28px;
    }
  }

  &__content {
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--radius-main);
    counter-reset: num;

    h2,
    h3 {
      margin-bottom: 8px;
    }

    &--btn {
      .box__texts {
        margin-bottom: 32px;
      }
    }
  }

  &__texts {
    p:not(:last-of-type) {
      margin-bottom: 16px;
    }

    &:not(:last-of-type) {
      margin-bottom: clamp(32px, 3.4vw, 48px);
    }

    &--light {
      opacity: 0.8;
    }
  }

  &__name {
    position: relative;

    &::before {
      content: '0' counter(num);
      counter-increment: num;
    }
  }

  &--asides {
    .box__inner {
      min-height: 563px;

      &::before,
      &::after {
        max-width: 482px;
      }
    }

    .box__content {
      max-width: 492px;
      margin-inline: auto;
      padding: clamp(10px, 2.4vw, 30px);
      text-align: center;
    }
  }

  &--left {
    .box__inner {
      &::before {
        max-width: 816px;
        left: -28px;
      }
    }

    .box__content {
      max-width: 524px;
      margin-inline: auto 0;
      padding-block: clamp(10px, 2.4vw, 32px);
      padding-inline: clamp(10px, 2.4vw, 32px) 0;
    }
  }

  &--about {
    .box__inner {
      &::before {
        background-image: url("../images/home/about/city.jpg");
      }

      &::after {
        background-image: url("../images/home/about/girl.jpg");
      }
    }
  }

  &--values {
    .box__inner {
      &::before {
        background-image: url("../images/about/values/team.jpg");
      }

      &::after {
        background-image: url("../images/about/values/coworkers.jpg");
      }
    }
  }

  &--discover {
    .box__inner {
      &::before {
        background-image: url("../images/home/discover.jpg");
      }
    }

    .box__content {
      padding-block: 0;
      border-radius: 0;
    }
  }

  &--story {
    .box__inner {
      min-height: 741px;

      &::before {
        background-image: url("../images/about/story.jpg");
      }
    }
  }

  &--community {
    .box__inner {
      &::before {
        background-image: url("../images/about/community.jpg");
      }
    }

    .box__content {
      padding-block: 0;
      border-radius: 0;
    }
  }

  @include media(tablet) {
    &__inner {
      &::before,
      &::after {
        border-radius: var(--radius-l);
      }
    }

    &__content {
      padding: clamp(10px, 2.4vw, 32px);
      border-radius: var(--radius-l);
    }

    &--asides {
      .box__inner {
        min-height: 450px;

        &::before,
        &::after {
          max-width: 250px;
        }
      }
    }
  }

  @include media(mobile-l) {
    &__content {
      padding-inline: 0;

      .btn {
        width: 100%;
      }
    }

    &--asides {
      .box__inner {
        min-height: 500px;
        padding-top: clamp(100px, 25vw, 200px);
        padding-bottom: clamp(100px, 25vw, 200px);

        &::before,
        &::after {
          top: unset;
          bottom: unset;
          left: 0;
          right: 0;
          height: clamp(200px, 40vw, 300px);
          max-width: 100%;
        }

        &::before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }
      }
    }

    &--left {
      .box__inner {
        padding-top: calc(clamp(200px, 50vw, 380px) + 32px);

        &::before {
          left: 0;
          right: 0;
          bottom: unset;
          height: clamp(200px, 50vw, 380px);
          max-width: 100%;
        }
      }

      .box__content {
        max-width: 100%;
        padding-inline: 0;
      }
    }

    &--story {
      .box__inner {
        min-height: auto;

        &::before {
          background-position: center 15%;
        }
      }
    }
  }

  @include media(mobile-m) {
    &--asides {
      .box__inner {
        min-height: 450px;

        &::after {
          background-position: top;
        }
      }
    }
  }
}