@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.hero {
  $root: &;
  padding-top: 24px;

  &__inner {
    @include cover-background;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    min-height: 800px;
    padding: 24px clamp(10px, 2.4vw, 24px);
    border-radius: var(--radius-main);
  }

  &__content {
    position: relative;
    z-index: 2;
    max-width: 794px;
    width: 100%;
    padding: clamp(16px, 2.4vw, 32px) 16px clamp(16px, 2.4vw, 32px) clamp(16px, 2.4vw, 32px);
    background-color: var(--color-white);
    border-radius: var(--radius-main);
  }

  &--home {
    .hero__content {
      h1 {
        margin-bottom: 8px;
      }

      .desc {
        max-width: 379px;
        width: 100%;
        margin-bottom: clamp(16px, 2.4vw, 32px);
      }
    }
  }

  @include media(tablet) {
    &__inner,
    &__content {
      border-radius: var(--radius-l);
    }

    &__inner {
      min-height: 600px;
    }
  }

  @include media(mobile-m) {
    &__content {
      .btn {
        display: block;
      }
    }
  }

  @include media(mobile-s) {
    &__content {
      text-align: center;
    }
  }
}